<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
    <rosparam param="init_value">  [1.0, 0.0, 0.0, 0.0,
                                    0.0, 1.0, 0.0, 0.0,
                                    0.0, 0.0, 1.0,  0.0] </rosparam>  <!-- init value of roatation matrix(3*3 on the left) and the translation(3*1 vector on the right) -->

    <param name="intrinsic_path"    value="/home/kai/rosbags/nv_ext_calib/params/intrinsics.txt" />  <!-- intrinsic file -->
    <param name="extrinsic_path"    value="/home/kai/rosbags/nv_ext_calib/params/extrinsic.txt" />  <!-- extrinsic file -->
    <param name="input_lidar_path"  value="/home/kai/rosbags/nv_ext_calib/output/pc_corners/pc_corners_2.txt" />  <!-- get the lidar corner data -->
    <param name="input_photo_path"  value="/home/kai/rosbags/nv_ext_calib/output/img_corners/2_img_corners.txt" />  <!-- get the photo corner data -->
    <param name="error_threshold"    type="int" value="12" />  <!-- the threshold of the reprojection error -->

    <node pkg="camera_lidar_calibration" name="getExt1" type="getExt1" output="screen"></node>

</launch>

