<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
    <param name="intrinsic_path"        value="/home/kai/rosbags/nv_ext_calib/params/intrinsics.txt" />  <!-- intrinsic file -->
    <param name="extrinsic_path"        value="/home/kai/rosbags/nv_ext_calib/params/extrinsic.txt" />  <!-- extrinsic file -->
    
    <param name="input_bag_path"        value="/home/kai/rosbags/ext_calib2/bags/1.bag" />  <!-- rosbag file -->
    <param name="input_photo_path"      value="/home/kai/rosbags/ext_calib2/images/1.bmp" />  <!-- photo file -->
    <param name="output_path"           value="/home/kai/rosbags/ext_calib2/reproj/reproj_0.png" />  <!-- path to save new photo file -->

    <param name="threshold_lidar"       type="int" value="300000" />  <!-- the maximum points shown on the photo -->

    <node pkg="camera_lidar_calibration" name="projectCloud" type="projectCloud" output="screen"></node>

</launch>

